@keyframes RightToLeft {
    0% {
      opacity: 0;/* 透明 */
      transform: translateX(50px);/* X軸方向に50px */
    }
    100% {
      opacity: 1;/* 不透明 */
      transform: translateX(0);
    }
  }



.header{
    background-image: url(img/pikurusu.jpg);
    background-size: cover;
    height: 500px;
    width: flex;
}

.pickles-logo{
    position: absolute;
    top: 30px;
    left:30px;
    z-index: 10;
}

.link{
    position: absolute;
    top: 30px;
    left: 25%;
    font-size: 20px;
    text-decoration: none;
}

.headerTitle{
    position: absolute;
    top: 30%;
    left: 40%;
    
}

.headerTitle h1{
    font-size: 90px;
}

.headerTitle p{
    font-size: 25px;
}

.contents1-container{
    width:flex;
    text-align: center;
    margin-top:50px;
    padding-left:70px;
    padding-right:70px;
  }
  
  .con1-p{
    font-family:monospace;
    font-size: 20px;
  }
  
  .con1-title{
    color:#444;
    font-size: 30px;
    display:flex;
    align-items: center;
  }
  
  
  .con1-title:before,.con1-title:after{
    content:"";
    flex-grow: 1;
    height:3px;
    background:#444;
    display:block;
  }
  
  .con1-title:before{
  margin-right: .4em;
  }
  
  .con1-title:after{
  margin-left: .4em;
  }


  .animationleft a{
      font-size: 50px;
  }

  .animationleft{
    opacity: 0;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
    float: left;
}

.animationleft.active{
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.animationright{
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    float: right;
}

.animationright.active{
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}



.footerLogo{
    position: relative;
    display: inline-block;
}

footer p{
    position: absolute;
    top: 120px;
    left: 30px;
    font-size: 10px;
    color: rgb(29, 185, 81);
}